body {
  background-color:beige;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  color:blueviolet;
}

.sem_lista{
  list-style: none;
}

a {
 font-size: 1.2em;
  color: fuchsia
}

h2 {
  color: blueviolet;
}


